.message-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px 7px 7px 10px;
  background-color: #F2F2F7;
  border-radius: 15px;
  max-width: 25%;
  width: 100%;
  color: black;
  font-size: 23px;
  min-height: 65px;
}

.message-item__name {
  font-size: 22px;
}

.message-item__time {
  display: inline-block;
  align-self: flex-end;
  font-size: 15px;
}